 html, body {
   height: 100%;
   max-width: 100vw;
   font-family: 'Open Sans', sans-serif;
 }

 #react-root {
   height: 100%;
 }

 .main-body .registration-form {
   margin: 40px;
   padding: 10px;
   border: 1px solid black;
   box-sizing: border-box;
   float: left;
 }

 .main-body .login-form {
   margin: 40px;
   padding: 10px;
   border: 1px solid black;
   box-sizing: border-box;
   float: right;
 }

 .map-edit-page {
   height: 100%;
}

.create-map {
   height: 100%;
 }

 .create-map #create {
   height: 100%;
   width: 400px;
   height: 300px;
 }

 .edit-map {
   padding-left: 230px;
 }

 .edit-map #edit {
   height: 100%;
   width: 850px;
   height: 600px;
   border-radius: 10px;
 }

 .map-show-page {
   height: 100%;
 }

 .show-map {
   height: 100%;
   padding-left: 200px;
 }


.show-map #show {
  height: 100%;
  width: 850px;
  height: 600px;
  border-radius: 10px;
}

.pin-content {
  height: 100%
}

#pin-show-map {
  height: 100%;
  width: 400px;
  height: 300px;
}

.map-Object {
  height: 100%;
}

.profile-page {
  height: 100%;
}

