#map-create-form .create {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
}

.row.edit-form  {
  font-family: "Courier New", Courier, monospace;
}

.releasing-shortly{
  margin-top: 20px;
  text-align: center;
}
