.standard-nav-bar {
  height: 80px;

  position: fixed;
}

.standard-nav-bar .button-parent {
  text-align: center;
}

.button-parent .company-logo {
  box-sizing: border-box;
  float: left;
  margin: 10px
}

.button-parent .profile-info {
  box-sizing: border-box;
  float: right;
  margin: 10px;
}

.standard-nav-bar .fix-parent-collapser {
  clear: both;
}
