.selection-nav-bar {
  height: 50px;

}

ul {
  list-style: none;
}
.selection-nav-bar .collection-list {
  border: 1px solid black;
}

.selection-nav-bar .followers-list {
  border: 1px solid black;
}

.selection-nav-bar .following-list {
  border: 1px solid black;
}

.selection-nav-bar .favorites-list {
  border: 1px solid black;
}
